body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #fddcdc;
	color: #200202;
	max-width: 1000px;
	margin: auto;
}
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

#pomodoro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tacheEnCours {
	font-size: 2em;
}

#tache {
	font-size: 2em;
	width: 95%;
	border: solid 2px #c29090;
}

#tache::placeholder {
	color: #3f2121;
}

#tache:focus {
	border: solid 2px #9b3333;
	box-shadow: 0 0 5px #9b3333;
}

#minuteur {
	font-size: 4em;
}

.bouton {
	font-size: 2em;
	padding: 8px;
	border: solid 1px rgb(129, 100, 100);
	background: linear-gradient(rgb(167, 128, 128), rgb(83, 31, 31));
	border-radius: 5px;
	color: white;
	text-shadow: 0px 1px 0px #200202;
}
.bouton:hover {
	background: linear-gradient(rgb(163, 124, 124), rgb(122, 50, 50));
}
.bouton:active {
	background: linear-gradient(rgb(122, 50, 50), rgb(116, 70, 70));
}

#tachesTerminees {
	width: 95%;
	margin-top: 20px;
	padding: 20px;
	background: #9b3333;
	color: white;
}

#tachesTerminees > ul > li {
	text-decoration: line-through;
	font-size: 1.2em;
}
